

/* small screen  small screen small screen small screen small screen small screen small screen */
header {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 1px #cccccc;
    box-sizing: border-box;
}

nav {
    width: 100%;
    margin: 0 auto;
    height: 150px;
}



#name {
    height: 65%;
    width: auto;
    /* float: left; */
    background-color: #4aaaa5;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    margin-left: 0%;

}

h1 {
    font-weight: bold;
    font-size: 24px;
    align-self: center;
    justify-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu {
    height: 35%;
    display: grid;
    margin-right: 0%;
}

.active {
    color: #000000;
}

.spacingLeftBorder {
    border-left: solid 1px #cccccc;
    padding-left: 10px;
}

.spacingRight {
    padding-right: 10px;
}

nav ul {
    justify-self: center;
    align-self: center;
}

nav ul li {
    display: inline;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
    color: #777777;
}

nav ul li a:hover {
    color: #000000;
    border-bottom: solid 1px #000000;
}

nav ul li a:active {
    color: #000000;
    border-bottom: solid 1px #000000;
}




#about {
    width: 96%;
    height: auto;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
}

#about h1 {
    color: #4aaaa5;
}

#aboutMeHeader {
    align-self: center;
    grid-row: 1/2;
    margin: 0 auto;
    width: 90%;
}

section {
    margin: 0 auto;
    width: 90%;
    border-top: solid 2px #cccccc;
    grid-row: 2/6;
}

.row {
    float: left;
    margin-top: 30px;
}

.rowBottom {
    clear: both;
}

#picture {
    width: 200px;
    height: 150px;
    background-color: #000000;
    float: left;
    margin-right: 30px;
    background-image: url(../images/emerson.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

p {
    margin-bottom: 30px;
    line-height: 2.2em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    color: #777777;
}




#contact {
    width: 96%;
    height: auto;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
}

#contact h1 {
    color: #4aaaa5;
}

#contactHeader {
    align-self: center;
    grid-row: 1/2;
    margin: 0 auto;
    width: 90%;
}

#contactPage {
    margin: 0 auto;
    width: 90%;
    border-top: solid 2px #cccccc;
    grid-row: 2/7;
}

#contactPage h2 {
    color: #777777;
    font-size: 16px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 15px;
}

.spacingTop15px {
    margin-top: 15px;
}

input {
    height: 35px;
    width: 90%;
}


#text-area {
    width: 90%;
    height: 200px;
}

#sub-button {
    margin-top: 15px;
    background-color: #4aaaa5;
    width: 120px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
}



footer {
    height: 70px;
    box-sizing: border-box;
    width: 100%;
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    position: fixed;
    bottom: 0;
    display: grid;
}

footer h3 {
    font-size: 12px;
    color: #ffffff;
    align-self: center;
    justify-self: center;
}

/* tablet  tablet  tablet  tablet  tablet  tablet  tablet  tablet  tablet  tablet  tablet */
@media screen and (min-width: 33.125em) {
    body {
        background-image: url(../images/bg2.jpg);
    }

    header {
        height: 90px;
        width: 100%;
        background-color: #ffffff;
        border-bottom: solid 1px #cccccc;
        box-sizing: border-box;
    }

    nav {
        width: 100%;
        margin: 0 auto;
        height: 90px;
    }

    #name {
        height: 100%;
        width: auto;
        float: left;
        background-color: #4aaaa5;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        margin-left: 5%;

    }

    h1 {
        font-weight: bold;
        font-size: 24px;
        align-self: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #menu {
        height: 100%;
        display: grid;
        margin-right: 5%;
    }

    .active {
        color: #000000;
    }

    .spacingLeftBorder {
        border-left: solid 1px #cccccc;
        padding-left: 10px;
    }

    .spacingRight {
        padding-right: 10px;
    }

    nav ul {
        justify-self: end;
        align-self: center;
    }

    nav ul li {
        display: inline;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 14px;
    }

    nav ul li a {
        text-decoration: none;
        color: #777777;
    }

    nav ul li a:hover {
        color: #000000;
        border-bottom: solid 1px #000000;
    }

    nav ul li a:active {
        color: #000000;
        border-bottom: solid 1px #000000;
    }




    #about {
        width: 90%;
        height: auto;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
    }

    #about h1 {
        color: #4aaaa5;
    }

    #aboutMeHeader {
        align-self: center;
        grid-row: 1/2;
        margin: 0 auto;
        width: 90%;
    }

    section {
        margin: 0 auto;
        width: 90%;
        border-top: solid 2px #cccccc;
        grid-row: 2/6;
    }

    .row {
        float: left;
        margin-top: 30px;
    }

    .rowBottom {
        clear: both;
    }

    #picture {
        width: 200px;
        height: 150px;
        background-color: #000000;
        float: left;
        margin-right: 30px;
        background-image: url(../images/emerson.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    p {
        margin-bottom: 30px;
        line-height: 2.2em;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 17px;
        color: #777777;
    }




    #contact {
        width: 90%;
        height: auto;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
    }

    #contact h1 {
        color: #4aaaa5;
    }

    #contactHeader {
        align-self: center;
        grid-row: 1/2;
        margin: 0 auto;
        width: 90%;
    }

    #contactPage {
        margin: 0 auto;
        width: 90%;
        border-top: solid 2px #cccccc;
        grid-row: 2/7;
    }

    #contactPage h2 {
        color: #777777;
        font-size: 16px;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .spacingTop15px {
        margin-top: 15px;
    }

    input {
        height: 35px;
        width: 90%;
    }


    #text-area {
        width: 90%;
        height: 200px;
    }

    #sub-button {
        margin-top: 15px;
        background-color: #4aaaa5;
        width: 120px;
        height: 40px;
        color: #ffffff;
        font-size: 14px;
    }



}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 50em) {
    body {
        background-image: url(../images/bg2.jpg);
    }

    nav {
        width: 100%;
        margin: 0 auto;
        height: 90px;
    }

    #name {
        height: 100%;
        width: auto;
        float: left;
        background-color: #4aaaa5;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        margin-left: 5%;

    }

    h1 {
        font-weight: bold;
        font-size: 24px;
        align-self: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #menu {
        height: 100%;
        display: grid;
        margin-right: 5%;
    }

    .active {
        color: #000000;
    }

    .spacingLeftBorder {
        border-left: solid 1px #cccccc;
        padding-left: 10px;
    }

    .spacingRight {
        padding-right: 10px;
    }

    nav ul {
        justify-self: end;
        align-self: center;
    }

    nav ul li {
        display: inline;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 14px;
    }

    nav ul li a {
        text-decoration: none;
        color: #777777;
    }

    nav ul li a:hover {
        color: #000000;
        border-bottom: solid 1px #000000;
    }

    nav ul li a:active {
        color: #000000;
        border-bottom: solid 1px #000000;
    }




    #about {
        width: 90%;
        height: auto;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
    }

    #about h1 {
        color: #4aaaa5;
    }

    #aboutMeHeader {
        align-self: center;
        grid-row: 1/2;
        margin: 0 auto;
        width: 90%;
    }

    section {
        margin: 0 auto;
        width: 90%;
        border-top: solid 2px #cccccc;
        grid-row: 2/6;
    }

    .row {
        float: left;
        margin-top: 30px;
    }

    .rowBottom {
        clear: both;
    }

    #picture {
        width: 200px;
        height: 150px;
        background-color: #000000;
        float: left;
        margin-right: 30px;
        background-image: url(../images/emerson.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    p {
        margin-bottom: 30px;
        line-height: 2.2em;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 17px;
        color: #777777;
    }




    #contact {
        width: 90%;
        height: auto;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
    }

    #contact h1 {
        color: #4aaaa5;
    }

    #contactHeader {
        align-self: center;
        grid-row: 1/2;
        margin: 0 auto;
        width: 90%;
    }

    #contactPage {
        margin: 0 auto;
        width: 90%;
        border-top: solid 2px #cccccc;
        grid-row: 2/7;
    }

    #contactPage h2 {
        color: #777777;
        font-size: 16px;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .spacingTop15px {
        margin-top: 15px;
    }

    input {
        height: 35px;
        width: 90%;
    }


    #text-area {
        width: 90%;
        height: 200px;
    }

    #sub-button {
        margin-top: 15px;
        background-color: #4aaaa5;
        width: 120px;
        height: 40px;
        color: #ffffff;
        font-size: 14px;
    }

}




/* desktop  desktop  desktop  desktop desktop  desktop desktop  desktop desktop  desktop*/
@media screen and (min-width: 75em) {

    body {
        background-image: url(../images/bg2.jpg);
    }




    nav {
        width: 960px;
        margin: 0 auto;
        height: 90px;
    }

    #name {
        height: 100%;
        width: auto;
        float: left;
        background-color: #4aaaa5;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        margin-left: 0px;

    }

    h1 {
        font-weight: bold;
        font-size: 24px;
        align-self: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #menu {
        height: 100%;
        display: grid;
        margin-right: 0px;
    }

    .active {
        color: #000000;
    }

    .spacingLeftBorder {
        border-left: solid 1px #cccccc;
        padding-left: 10px;
    }

    .spacingRight {
        padding-right: 10px;
    }

    nav ul {
        justify-self: end;
        align-self: center;
    }

    nav ul li {
        display: inline;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 14px;
    }

    nav ul li a {
        text-decoration: none;
        color: #777777;
    }

    nav ul li a:hover {
        color: #000000;
        border-bottom: solid 1px #000000;
    }

    nav ul li a:active {
        color: #000000;
        border-bottom: solid 1px #000000;
    }



    /* About Page About Page About Page About Page About Page About Page About Page */
    /* About Page About Page About Page About Page About Page About Page About Page */

    #about {
        width: 960px;
        height: 580px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
    }

    #about h1 {
        color: #4aaaa5;
    }

    #aboutMeHeader {
        align-self: center;
        grid-row: 1/2;
        margin: 0 auto;
        width: 900px;
    }

    section {
        margin: 0 auto;
        width: 900px;
        border-top: solid 2px #cccccc;
        grid-row: 2/6;
    }

    .row {
        float: left;
        margin-top: 30px;
    }

    .rowBottom {
        clear: both;
    }

    #picture {
        width: 200px;
        height: 150px;
        background-color: #000000;
        float: left;
        margin-right: 30px;
        background-image: url(../images/emerson.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    p {
        margin-bottom: 30px;
        line-height: 2.2em;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 17px;
        color: #777777;
    }





    /* Contact Contact Contact Contact Contact Contact Contact Contact Contact */



    #contact {
        width: 960px;
        height: 600px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
    }

    #contact h1 {
        color: #4aaaa5;
    }

    #contactHeader {
        align-self: center;
        grid-row: 1/2;
        margin: 0 auto;
        width: 900px;
    }

    #contactPage {
        margin: 0 auto;
        width: 900px;
        border-top: solid 2px #cccccc;
        grid-row: 2/7;
    }

    #contactPage h2 {
        color: #777777;
        font-size: 16px;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .spacingTop15px {
        margin-top: 15px;
    }

    input {
        height: 35px;
        width: 900px;
    }


    #text-area {
        width: 900px;
        height: 200px;
    }

    #sub-button {
        margin-top: 15px;
        background-color: #4aaaa5;
        width: 120px;
        height: 40px;
        color: #ffffff;
        font-size: 14px;
    }


   

    /* Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer */

    footer {
        height: 70px;
        box-sizing: border-box;
        width: 100%;
        background-color: #666666;
        border-top: solid 8px #4aaaa5;
        position: fixed;
        bottom: 0;
        display: grid;
    }

    footer h3 {
        font-size: 12px;
        color: #ffffff;
        align-self: center;
        justify-self: center;
    }

}